<div class="jumbotron" style="background-image: url('media/Concert.jpg');
background-size: cover;
background-position: center;
color: #fff;">
  <div class="container">
    <h1>Music Junkie Admin Page</h1>
    <p>Add songs to the streaming service and manage song playlists.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Add New Songs</h2>
      <p>
        New artist? Come up with a new jam you want to stream to the Music Junkie fanbase? Upload it here to get it to them.
      </p>
      <p>
        <a class="btn btn-primary" ng-href="#/songs" role="button">Upload</a>
      </p>
    </div>
    <div class="col-md-6">
      <h2>Manage Playlists</h2>
      <p>
        Our playlists are carefully managed. If a song doesn't seem to fit the mood or perhaps could help another playlist better, change it here.
      </p>
      <a class="btn btn-primary" ng-href="#/playlists " role="button">Manage</a>
    </div>
    <div class="col-md-6">
      <h2>Download the App</h2>
      <p>
        The app won't be found on the app store, unfortunately. Download the app here to get to streaming.
      </p>
      <a class="btn btn-primary" href="/download/musicJunkie.apk">Download</a>
    </div>
  </div>
</div>
